<div ng-repeat="team in teams">
    <div class="team-container">
        <div class="logo">
            <img ng-src="{{team.logoPath}}">
        </div>
        <div class="record">
            <h1> Wins: {{team.data.wins}} Losses: {{team.data.losses}} </h1>
        </div>
        <div class="team-data">
            <div class="game" ng-repeat="game in team.data" ng-class="{'even' : $index % 2 === 0}">
                Date: {{game.createdAt | date: short}}
                <br /> {{team.name}} - {{game.homeTeamScore}}
                <br /> {{game.opponent}} - {{game.opponentScore}}
                </br />
            </div>
        </div>
    </div>
</div>
